
.header {
    margin-bottom: 25px;
}

.footer {
    margin-top: 25px;
}

.footer, .header {
    /*position: absolute;*/
    /*bottom: 0;*/
    width: 100%;
    /* Set the fixed height of the footer here */
    /*height: 60px;*/
    background-color: #f5f5f5;
}

.footer .text-muted, .header .text-muted {
    margin: 20px 0;
}

#table-files .btn {
    min-width: 80px;
}

#simple-slider-generation,
#simple-slider-generation-2d,
#progress-slider-generation,
#progress-slider-generation-2d {
    margin-top: 15px;
}

#simple-slider-generation:before,
#simple-slider-generation-2d:before,
#progress-slider-generation:before,
#progress-slider-generation-2d:before {
    content: "Generation: ";
}

